/* section{
    margin-left: 22em;
} */


.about{
    position: relative;
    margin-left: 14em;
    padding-top: .1em;
}

.about .clouldLeft{
    position: absolute;
    top: 3em;
    left: -6em;
    z-index: -5;
}

.about .introduce1{
    font-size: 68px;
    font-weight: 600;
}

.welcome{
    font-size: 85px; 
    color : #728ED7;
}

.about .clouldRight{
    position: absolute;
    top: 19em;
    left: 30em;
    z-index: -5;
}

.about .introduce2{
    margin: -2.5em .2em 3em 0;
    font-size: 22px;
}

.LearnMore{
    color : #728ED7;
    font-size: 30px;
    text-decoration: none;
    margin-left: 6.5em;
}

.LearnMore svg{
    margin-left: 8.5em;
} 