nav{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    background-color: white;
    position: fixed;
    width: 100%;
    max-width: 1400px;
    z-index: 50;
}

nav a{
    text-decoration: none;
    color: #728ED7;
    padding: .5em 1em;
    font-weight: 400;
    transition: .1s ease-in;
}

nav a:hover{
    color: #44547e;
}

#right{
    margin-right: 4em;
}