*{
    scroll-behavior: smooth;
}

section{
    margin-left: 22em;
}

.web{
    max-width: 1400px;
    margin: 0 auto;
}

.title{
    text-align: center;
    padding: 2em 0 1em 0;
    color: #728ED7;
}